@model IEnumerable<AdventureWorks.Models.SalesOrder>

@{
    ViewBag.Title = "Index";
}

<h2>sales orders</h2>
<table class="table">
    <tr>
        <th>order</th>
        <th>shipping</th>        
        <th>cost ($)</th>
    </tr>

@foreach (var item in Model) {
    <tr class="card-row">
        <td width="240px">
            <!-- sales order info -->
            <span class="label">
                @Html.DisplayNameFor(model => model.SalesOrderNumber):
            </span>
            <a href="SalesOrders/GetOrderDetails#@item.SalesOrderID">@item.SalesOrderNumber</a>
            <br />
            <span class="label">
                @Html.DisplayNameFor(model => model.AccountNumber):
            </span>
            @Html.DisplayFor(modelItem => item.AccountNumber)
            <br />
            <span class="label">
                @Html.DisplayNameFor(model => model.CustomerID):
            </span>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            <!-- shipping info -->
            <span class="label">
                @Html.DisplayNameFor(model => model.ShipDate):
            </span>
            @Html.DisplayFor(modelItem => item.ShipDate)
            <br />
            <span class="label">
                @Html.DisplayNameFor(model => model.ShipToAddressID):
            </span>
            @Html.DisplayFor(modelItem => item.ShipToAddressID)
            <br />
            <span class="label">
                @Html.DisplayNameFor(model => model.ShipMethodID):
            </span>
            @Html.DisplayFor(modelItem => item.ShipMethodID)
        </td>
        <td>
            <!-- cost -->
            <span class="label">
                @Html.DisplayNameFor(model => model.SubTotal):
            </span>
            @Html.DisplayFor(modelItem => item.SubTotal)
            <br />
            <span class="label">
                @Html.DisplayNameFor(model => model.TaxAmount):
            </span>
            @Html.DisplayFor(modelItem => item.TaxAmount)
            <br />
            <span class="label">
                @Html.DisplayNameFor(model => model.Freight):
            </span>
            @Html.DisplayFor(modelItem => item.Freight)
            <hr />
            <span class="label">
                @Html.DisplayNameFor(model => model.TotalDue):
            </span>
            @Html.DisplayFor(modelItem => item.TotalDue)
        </td>
    </tr>
}

</table>
