@model IEnumerable<AdventureWorks.Models.SalesOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Sales Orders</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalesOrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipDate)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.ShipToAddressID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipMethodID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Freight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDue)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="SalesOrders/GetOrderDetails#@item.SalesOrderID">@item.SalesOrderNumber</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipMethodID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipToAddressID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Freight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDue)
        </td>
    </tr>
}

</table>
