@model IEnumerable<AdventureWorks.Models.SalesOrderDetails>

@{
    ViewBag.Title = "sales order details";
}

<h3>sales order details | SO @Request.QueryString[0]</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.OrderQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPriceDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineTotal)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPriceDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineTotal)
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("back to Sales Orders", "")
</p>

